<h1>Solicitar Redefinição de Senha</h1>
 <%= form_tag password_resets_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>
  <%= submit_tag "Reset Password" %>
<% end %>