<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
</head>
<body>
    <h2>Redefinição de Senha</h2>
    <p>Por favor, insira sua nova senha abaixo:</p>
    
</body>
</html>
